@model MvcLabManager.Models.Computer; 

@{
    ViewData["Title"] = $"Novo Computador";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<hr>

<form asp-controller="Computer" asp-action="CreateData" method="post">
    <div class="form-group row">
        <label for="id" class="col-sm-2 col-form-label"><b>Id</b></label>
        <div class="col-md-3">
            <input asp-for="Id" class="form-control" required>
        </div>
    </div><br>
    
    <div class="form-group row">
        <label for="ram" class="col-sm-2 col-form-label"><b>Ram</b></label>
        <div class="col-md-3">
            <input asp-for="Ram" class="form-control" required>
        </div>
    </div><br>

    <div class="form-group row">
        <label for="processor" class="col-sm-2 col-form-label"><b>Processador</b></label>
        <div class="col-md-3">
            <input asp-for="Processor" class="form-control" required>
        </div>
    </div><br>
    
    <button type="submit" class="btn btn-success">Enviar</button>
    <a asp-controller="Computer" asp-action="Index" class="btn btn-outline-warning">Cancelar</a>
</form>