@model MvcLabManager.Models.Computer; 

@{
    ViewData["Title"] = $"Editar Computador {Model.Id}";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<hr>

<form action="UpdateForm" method="post">
    <p class="form-group">
        <label for="id"><b>Id</b></label>
        <div class="col-md-15">
            <input type="number" name="id" id="id" required>
        </div>
    </p>
    
    <p class="form-group">
        <label for="ram"><b>Ram</b></label>
        <div class="col-md-15">
            <input type="text" name="ram" id="ram" required>
        </div>
    </p>

    <p class="form-group">
        <label for="processor"><b>Processador</b></label>
        <div class="col-md-15">
            <input type="text" name="processor" id="processor" required>
        </div>
    </p>
    
    <button type="submit" class="btn btn-success">Salvar</button>
</form>