@model MvcLabManager.Models.Lab; 

@{
    ViewData["Title"] = $"Novo Laboratório";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<hr>

<form asp-controller="Lab" asp-action="CreateData" method="post">
    <div class="form-group row">
        <label for="id" class="col-sm-2 col-form-label"><b>Id</b></label>
        <div class="col-md-3">
            <input asp-for="Id" class="form-control" required>
        </div>
    </div><br>
    
    <div class="form-group row">
        <label for="number" class="col-sm-2 col-form-label"><b>Número</b></label>
        <div class="col-md-3">
            <input asp-for="Number" class="form-control" required>
        </div>
    </div><br>

    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label"><b>Nome</b></label>
        <div class="col-md-3">
            <input asp-for="Name" class="form-control" required>
        </div>
    </div><br>

    <div class="form-group row">
        <label for="block" class="col-sm-2 col-form-label"><b>Bloco</b></label>
        <div class="col-md-3">
            <input asp-for="Block" class="form-control" required>
        </div>
    </div><br>
    
    <button type="submit" class="btn btn-success">Enviar</button>
    <a asp-controller="Lab" asp-action="Index" class="btn btn-outline-warning">Cancelar</a>
</form>